/* Global */

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: "Helvetica", sans-serif;
  -moz-osx-font-smoothing: "Helvetica", sans-serif;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #3939EB;
  --heading-color: #292929;
  --bg-shade: #f9f9f9;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}

.btn {
  font-family: "Helvetica", sans-serif;
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -msn-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -msn-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}

.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}

.btn-github {
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
}

.btn-github:hover {
  color: var(--github);
  background-color: var(--white);
}

/* Main headings */

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}


h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* paragraph text */

.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* section title */

.section--title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}

.sub--title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* nav bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: var(--white);
  box-shadow: 0px 5.333px 80px 0 rgba(0,0,0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right:0;
}

.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  text-decoration: none;
}

.navbar--items ul > li > a {
  text-decoration: none;
}

.navbar--content {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.navbar--active-content {
  color: var(--primary);
}



/* welcome section style */
.welcome--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 130px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--bg-shade);
}

.welcome--section--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}


.welcome--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
}

.welcome--section--content-box > button {
  margin-top: 21.333px;
}

.welcome--section--title {
  color: var(--heading-color);
  font-size: 74.667px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
}

.welcome--section--title--color{
  color: var(--primary);
}

.welcome--section--description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.welcome--section--img {
  display: flex;
  width: 70%;
  height: 70%;
}

/* login page */
.main--container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.title--container {
  display: flex;
  flex-direction: column;
  color: var(--primary);
  font-family: "Helvetica", sans-serif;
  font-size: 64px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.result--container,
.history--item {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.history--container {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.button--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.input--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.input--container > .error--label {
  color: red;
  font-size: 12px;
}

.input--box {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.input--button {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}

.logo--container {
  position: fixed;
  justify-content: center;
  bottom: 0;
  padding-bottom: 20px;
}

/* terra talk */
.terra {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 130px;
  padding-top: 400px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--white);
}

.terra--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}


.terra--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
}

.terra--section--content-box > button {
  margin-top: 21.333px;
}

.prompt--box {
  align-items: flex-start;
  height: 50px;
  width: 600px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
}
